@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
:root{
  --police:  'Rye', cursive;
  
}
*{
    box-sizing: border-box;
}
.acceuil::before{
    content: "";
    position: absolute;
    left: 0;
    height: 95vh;
    width: 100%;
    z-index: -1;
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,168,255,0.805742279822085) 0%, rgba(0,212,255,1) 100%) ;
    filter: blur(4px) opacity(65%);
    clip-path: polygon(30% 0%, 100% 0, 100% 54%, 80% 79%, 49% 92%, 0 100%, 0% 70%, 0 0);
    
}
.titre{
  font-family: var(--police);
}